<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>An Unobtrusive View Engine</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
              
            <div id="logindisplay">
                &nbsp;
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                    <li><a href="/Home/Index">Home</a></li>                    
                </ul>
            
            </div>
        </div>

        <div id="main">
            
            #{books}

            <p />

            <div style="color:#cc0000;">#{ErrorMessage}</div>
            <form action="/Books/Index" method="post">
                Title: <input type="text" name="title" value="#{Title}" />
                Author: <input type="text" name="author" value="#{Author}" onfocus="javascript:this.value = '';" />
                ISBN: <input type="text" name="isbn" value="#{ISBN}" />
                <input type="submit" value="Add New" />
            </form>

            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>

