<html>
	<head>
		<title>
			VegTracker
		</title>	
		<style type="text/css">
			label { display:block; }
		</style>
	</head>
	<body>
			<h3>Welcome to VegTracker v0.1!</h3>
			
			
			<fieldset style="width:300px;">
				<form action="/restaurants/create/" method="POST">
					<label>Name:</label><input type="text" name="name" value="{{ venue["name"] }}" />
					<label>City:</label><input type="text" name="city" value="{{ venue["city"] }}" /><br />
					<label>State:</label><input type="text" name="state" value="{{ venue["state"] }}" /><br />					
					<input type="submit" value="Save" />
				</form>
			</fieldset>
			
					
			
			<div>
				<a href="/">List</a>
			</div>
		
	</body>
</html>