<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>An Unobtrusive View Engine</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
              
            <div id="logindisplay">
                &nbsp;
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                    <li><a href="/Home/Index">Home</a></li>                    
                </ul>
            
            </div>
        </div>

        <div id="main">
            
            <h3>#{message}</h3>

            <a href="/Books/Index">Show all Books</a><br />            


            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>

