<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="aquilesConfiguration" type="Aquiles.Core.Configuration.AquilesConfigurationSection,Aquiles.Core"/>
   </configSections>
  
  <aquilesConfiguration>
   <!--<loggingManager>Aquiles.Test.Logging.Logger,Aquiles.Test</loggingManager>-->
   <clusters>
      <add friendlyName="TestCluster">
         <connection poolType="SIZECONTROLLEDPOOL" factoryType="FRAMED" />
         <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
            <cassandraEndpoints>
               <add address="localhost" port="9160"/>
            </cassandraEndpoints>
         </endpointManager>
      </add>      
   </clusters>
</aquilesConfiguration>
</configuration>