@model Glimpse.Models.GlimpseSettingsPart

<fieldset>
  <legend>Glimpse Settings</legend>
  
  <div class="editor-label">
    Is Enabled
  </div>
  <div class="editor-field">
    @Html.CheckBoxFor(model => model.IsEnabled)    
  </div>   
</fieldset>       