<div style="background-image:url(@Href(Model.ImageSource));background-repeat:no-repeat;height:400px;width:400px;color:#fff;">
    <div style="margin-bottom:150px;">
        @Model.TextTop
    </div>
    
    <div style="margin-bottom:100px;">
        @Model.TextMiddle
    </div>    
    @Model.TextBottom
</div>